In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from functools import reduce
%matplotlib inline

In [2]:
#Import OANDA Data
df_eurusd1 = pd.read_csv('Data_Investingcom/EUR_USD_1')
df_eurusd2 = pd.read_csv('Data_Investingcom/EUR_USD_2')
df_eurusd3 = pd.read_csv('Data_Investingcom/EUR_USD_3')

In [3]:
#print(df_eurusd1)
#print(df_eurusd2)
#print(df_eurusd3)

In [4]:
df_eurusd = pd.concat([df_eurusd1,df_eurusd2, df_eurusd3])
df_eurusd.index.name = 'number'
df_eurusd = df_eurusd.drop(['Open', 'Change %'], axis=1)
df_eurusd.head(20)

                Date   Price    High     Low
number
0       Nov 21, 2018  1.1371  1.1410  1.1366
1       Nov 20, 2018  1.1372  1.1472  1.1359
2       Nov 19, 2018  1.1453  1.1467  1.1393
3       Nov 16, 2018  1.1420  1.1423  1.1320
4       Nov 15, 2018  1.1328  1.1364  1.1271
5       Nov 14, 2018  1.1310  1.1349  1.1262
6       Nov 13, 2018  1.1291  1.1296  1.1216
7       Nov 12, 2018  1.1218  1.1333  1.1214
8       Nov 09, 2018  1.1336  1.1371  1.1315
9       Nov 08, 2018  1.1363  1.1448  1.1352
10      Nov 07, 2018  1.1426  1.1502  1.1395
11      Nov 06, 2018  1.1427  1.1440  1.1389
12      Nov 05, 2018  1.1407  1.1425  1.1356
13      Nov 02, 2018  1.1387  1.1458  1.1372
14      Nov 01, 2018  1.1409  1.1426  1.1306
15      Oct 31, 2018  1.1312  1.1363  1.1301
16      Oct 30, 2018  1.1344  1.1387  1.1338
17      Oct 29, 2018  1.1373  1.1418  1.1361
18      Oct 26, 2018  1.1403  1.1422  1.1334
19      Oct 25, 2018  1.1376  1.1434  1.1355

In [5]:
df_eurusd.to_csv('mergeddata.csv')