In [94]:
import numpy as np
import pandas as pd
import seaborn as sns
from functools import reduce
from sklearn import preprocessing
import matplotlib
matplotlib.use('nbagg')
from matplotlib import pyplot
from keras import models
from keras import layers
from keras import regularizers

from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

from importlib import reload
reload(pyplot)
%matplotlib notebook
%matplotlib notebook

In [95]:
#Import OANDA Data
df_AAPL1 = pd.read_csv('Data_Investingcom/AAPL1')
df_AAPL2 = pd.read_csv('Data_Investingcom/AAPL2')
df_NASDAQ1 = pd.read_csv('Data_Investingcom/NASDAQ1')
df_NASDAQ2 = pd.read_csv('Data_Investingcom/NASDAQ2')

In [96]:
#print(df_eurusd1)
#print(df_eurusd2)
#print(df_eurusd3)

In [97]:
df_AAPL = pd.concat([df_AAPL2,df_AAPL1])
df_NASDAQ = pd.concat([df_NASDAQ2, df_NASDAQ1])
dfs = [df_AAPL, df_NASDAQ]

dfm = reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs)

dfm.index.name = 'number'
dfm = dfm.drop(['Open_AAPL', 'Change %_AAPL', 'Open_NASDAQ', 'Vol._NASDAQ', 'Change %_NASDAQ'], axis=1)

dfm.head()

,Date,Price_AAPL,High_AAPL,Low_AAPL,Vol._AAPL,Price_NASDAQ,High_NASDAQ,Low_NASDAQ
number,,,,,,,,
0,"Nov 23, 2018",172.29,176.53,172.15,23.62M,"6,938.98","6,987.89","6,919.16"
1,"Nov 21, 2018",176.78,180.27,176.55,31.12M,"6,972.25","7,029.93","6,951.62"
2,"Nov 20, 2018",176.98,181.47,175.51,67.83M,"6,908.82","6,994.75","6,830.76"
3,"Nov 19, 2018",185.86,190.70,184.99,41.92M,"7,028.48","7,224.12","7,011.40"
4,"Nov 16, 2018",193.53,194.97,189.46,36.93M,"7,247.87","7,274.86","7,171.70"

In [98]:
new_price = []
for price in dfm['Price_NASDAQ']:
    newprice= ""
    for figure in price:
        figure = figure.replace(",","")
        newprice = newprice + figure
    new_price.append(newprice)
dfm['Price_NASDAQ'] = new_price

new_price = []
for price in dfm['High_NASDAQ']:
    newprice= ""
    for figure in price:
        figure = figure.replace(",","")
        newprice = newprice + figure
    new_price.append(newprice)
dfm['High_NASDAQ'] = new_price

new_price = []
for price in dfm['Low_NASDAQ']:
    newprice= ""
    for figure in price:
        figure = figure.replace(",","")
        newprice = newprice + figure
    new_price.append(newprice)
dfm['Low_NASDAQ'] = new_price

new_price = []
for vol in dfm['Vol._AAPL']:
    newprice= ""
    for figure in vol:
        figure = figure.replace(".","")
        figure = figure.replace("M", "000000")
        figure = figure.replace("B", "000000000")
        figure = figure.replace("K", "000")                        
        newprice = newprice + figure
    new_price.append(newprice)
dfm['Vol._AAPL'] = new_price

dfm.head()

,Date,Price_AAPL,High_AAPL,Low_AAPL,Vol._AAPL,Price_NASDAQ,High_NASDAQ,Low_NASDAQ
number,,,,,,,,
0,"Nov 23, 2018",172.29,176.53,172.15,2362000000,6938.98,6987.89,6919.16
1,"Nov 21, 2018",176.78,180.27,176.55,3112000000,6972.25,7029.93,6951.62
2,"Nov 20, 2018",176.98,181.47,175.51,6783000000,6908.82,6994.75,6830.76
3,"Nov 19, 2018",185.86,190.70,184.99,4192000000,7028.48,7224.12,7011.40
4,"Nov 16, 2018",193.53,194.97,189.46,3693000000,7247.87,7274.86,7171.70

In [99]:
scaler = MinMaxScaler(feature_range=(0, 1))
dfm_scaled = scaler.fit_transform(dfm.values[:,1:])
dfm.loc[:,1:] = dfm_scaled
dfm.head()

C:\Users\viran\AppData\Local\conda\conda\envs\python36_gpu\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,Date,Price_AAPL,High_AAPL,Low_AAPL,Vol._AAPL,Price_NASDAQ,High_NASDAQ,Low_NASDAQ
number,,,,,,,,
0,"Nov 23, 2018",0.742183,0.755905,0.748976,0.012515,0.852751,0.856360,0.853520
1,"Nov 21, 2018",0.761547,0.771938,0.768142,0.016548,0.856936,0.861632,0.857618
2,"Nov 20, 2018",0.762410,0.777082,0.763612,0.036288,0.848958,0.857220,0.842358
3,"Nov 19, 2018",0.800707,0.816650,0.804905,0.022355,0.864008,0.885984,0.865166
4,"Nov 16, 2018",0.833786,0.834955,0.824375,0.019672,0.891602,0.892347,0.885405

In [100]:
dfm.to_csv('mergeddata.csv')

In [101]:
#step two

In [102]:
#Define function to add timesteps in datafram
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	"""
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""
	n_vars = 1 if type(data) is list else data.shape[1]
	df = pd.DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = pd.concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [103]:
#Add timesteps to the dataframe
dfm = pd.read_csv('mergeddata.csv', header=0, index_col=1)
values = dfm.values
n_days = 25
dfm = dfm.drop(['number'], axis = 1)
dfm

,Price_AAPL,High_AAPL,Low_AAPL,Vol._AAPL,Price_NASDAQ,High_NASDAQ,Low_NASDAQ
Date,,,,,,,
"Nov 23, 2018",0.742183,0.755905,0.748976,0.012515,0.852751,0.856360,0.853520
"Nov 21, 2018",0.761547,0.771938,0.768142,0.016548,0.856936,0.861632,0.857618
"Nov 20, 2018",0.762410,0.777082,0.763612,0.036288,0.848958,0.857220,0.842358
"Nov 19, 2018",0.800707,0.816650,0.804905,0.022355,0.864008,0.885984,0.865166
"Nov 16, 2018",0.833786,0.834955,0.824375,0.019672,0.891602,0.892347,0.885405
"Nov 15, 2018",0.824643,0.822095,0.813224,0.024807,0.893006,0.892272,0.872863
"Nov 14, 2018",0.804761,0.832855,0.808999,0.032508,0.877581,0.893690,0.876500
"Nov 13, 2018",0.828180,0.844429,0.833043,0.025022,0.885692,0.897896,0.886814
"Nov 12, 2018",0.836546,0.855875,0.843235,0.027313,0.885691,0.904415,0.888192
"Nov 09, 2018",0.880968,0.882282,0.880085,0.018295,0.911605,0.917363,0.907852
"Nov 08, 2018",0.898305,0.899901,0.899686,0.013450,0.927200,0.928974,0.926820
"Nov 07, 2018",0.904602,0.899644,0.888274,0.017784,0.932213,0.929727,0.918759
"Nov 06, 2018",0.877949,0.876752,0.877646,0.016956,0.907713,0.908121,0.904242
"Nov 05, 2018",0.868547,0.875338,0.862314,0.035390,0.901788,0.901674,0.896034
"Nov 02, 2018",0.893949,0.915034,0.893937,0.048925,0.905327,0.916384,0.901438
"Nov 01, 2018",0.957519,0.952373,0.943506,0.031174,0.915021,0.912540,0.899900
"Oct 31, 2018",0.943028,0.944185,0.942678,0.020441,0.898901,0.904089,0.897896
"Oct 30, 2018",0.919049,0.921593,0.910663,0.019527,0.880758,0.878801,0.863913
"Oct 29, 2018",0.914478,0.940927,0.896812,0.024517,0.866751,0.894949,0.853983
"Oct 26, 2018",0.931988,0.943070,0.925473,0.025227,0.881457,0.893408,0.870923
"Oct 25, 2018",0.947082,0.948172,0.943244,0.015870,0.900466,0.903629,0.886269
"Oct 24, 2018",0.926769,0.960389,0.933618,0.021823,0.874060,0.912516,0.876226
"Oct 23, 2018",0.959719,0.956188,0.934315,0.020661,0.915459,0.917142,0.896570
"Oct 22, 2018",0.950748,0.956660,0.952783,0.015295,0.919369,0.923156,0.917354
"Oct 19, 2018",0.944969,0.947657,0.946206,0.017602,0.916904,0.930976,0.917804
"Oct 18, 2018",0.930780,0.941141,0.926910,0.017333,0.921446,0.935236,0.920854
"Oct 17, 2018",0.953077,0.953573,0.954526,0.012122,0.941263,0.941961,0.934822
"Oct 16, 2018",0.957217,0.955074,0.943288,0.015504,0.941614,0.940413,0.926028
"Oct 15, 2018",0.936559,0.950101,0.945509,0.016370,0.914603,0.920698,0.914239
"Oct 12, 2018",0.957045,0.954602,0.943636,0.021506,0.922924,0.922674,0.910232
...,...,...,...,...,...,...,...
"Jan 26, 1981",0.001639,0.001629,0.001655,0.003126,0.004653,0.004639,0.004670
"Jan 23, 1981",0.001639,0.001672,0.001655,0.001324,0.004827,0.004813,0.004846
"Jan 22, 1981",0.001682,0.001672,0.001699,0.004594,0.004777,0.004763,0.004795
"Jan 21, 1981",0.001639,0.001629,0.001655,0.001953,0.004899,0.004885,0.004918
"Jan 20, 1981",0.001596,0.001586,0.001612,0.003857,0.004978,0.004964,0.004997
"Jan 19, 1981",0.001682,0.001672,0.001699,0.005400,0.005338,0.005322,0.005358
"Jan 16, 1981",0.001509,0.001543,0.001525,0.001615,0.005281,0.005266,0.005302
"Jan 15, 1981",0.001553,0.001543,0.001568,0.001706,0.005120,0.005105,0.005140
"Jan 14, 1981",0.001509,0.001500,0.001525,0.001733,0.005024,0.005009,0.005043
"Jan 13, 1981",0.001466,0.001500,0.001481,0.002911,0.004894,0.004880,0.004913
"Jan 12, 1981",0.001553,0.001586,0.001568,0.002997,0.004943,0.004928,0.004962
"Jan 09, 1981",0.001596,0.001586,0.001612,0.002706,0.004845,0.004831,0.004864
"Jan 08, 1981",0.001466,0.001458,0.001481,0.005169,0.004622,0.004609,0.004640
"Jan 07, 1981",0.001509,0.001500,0.001525,0.007299,0.004806,0.004792,0.004824
"Jan 06, 1981",0.001639,0.001629,0.001655,0.005884,0.005651,0.005634,0.005673
"Jan 05, 1981",0.001725,0.001715,0.001742,0.004615,0.005664,0.005647,0.005685
"Jan 02, 1981",0.001811,0.001800,0.001829,0.002728,0.005586,0.005569,0.005607
"Dec 31, 1980",0.001768,0.001758,0.001786,0.004621,0.005434,0.005417,0.005454
"Dec 30, 1980",0.001854,0.001843,0.001873,0.009073,0.005197,0.005182,0.005217
"Dec 29, 1980",0.001898,0.001929,0.001917,0.012337,0.005119,0.005104,0.005139
"Dec 26, 1980",0.001854,0.001886,0.001873,0.007282,0.005300,0.005285,0.005321
"Dec 24, 1980",0.001639,0.001629,0.001655,0.006266,0.005157,0.005142,0.005177
"Dec 23, 1980",0.001509,0.001500,0.001525,0.006126,0.005122,0.005106,0.005141
"Dec 22, 1980",0.001423,0.001415,0.001437,0.004836,0.005113,0.005098,0.005132
"Dec 19, 1980",0.001294,0.001329,0.001307,0.006352,0.004876,0.004862,0.004895
"Dec 18, 1980",0.001208,0.001200,0.001220,0.009686,0.004637,0.004624,0.004655
"Dec 17, 1980",0.001121,0.001115,0.001133,0.011434,0.004387,0.004374,0.004404
"Dec 16, 1980",0.001078,0.001072,0.001089,0.014026,0.004118,0.004106,0.004134
"Dec 15, 1980",0.001251,0.001243,0.001263,0.023457,0.004387,0.004374,0.004404
"Dec 12, 1980",0.001337,0.001372,0.001350,0.062868,0.004035,0.004023,0.004050

In [104]:
dfm[dfm.index.duplicated()]
dfm = dfm.reindex(index=dfm.index[::-1])

dfm.head()

,Price_AAPL,High_AAPL,Low_AAPL,Vol._AAPL,Price_NASDAQ,High_NASDAQ,Low_NASDAQ
Date,,,,,,,
"Dec 12, 1980",0.001337,0.001372,0.001350,0.062868,0.004035,0.004023,0.004050
"Dec 15, 1980",0.001251,0.001243,0.001263,0.023457,0.004387,0.004374,0.004404
"Dec 16, 1980",0.001078,0.001072,0.001089,0.014026,0.004118,0.004106,0.004134
"Dec 17, 1980",0.001121,0.001115,0.001133,0.011434,0.004387,0.004374,0.004404
"Dec 18, 1980",0.001208,0.001200,0.001220,0.009686,0.004637,0.004624,0.004655

In [105]:
dfm_series = series_to_supervised(dfm, n_days, 1)
dfm_series.head()

,var1(t-25),var2(t-25),var3(t-25),var4(t-25),var5(t-25),var6(t-25),var7(t-25),var1(t-24),var2(t-24),var3(t-24),...,var5(t-1),var6(t-1),var7(t-1),var1(t),var2(t),var3(t),var4(t),var5(t),var6(t),var7(t)
Date,,,,,,,,,,,,,,,,,,,,,
"Jan 20, 1981",0.001337,0.001372,0.001350,0.062868,0.004035,0.004023,0.004050,0.001251,0.001243,0.001263,...,0.005338,0.005322,0.005358,0.001596,0.001586,0.001612,0.003857,0.004978,0.004964,0.004997
"Jan 21, 1981",0.001251,0.001243,0.001263,0.023457,0.004387,0.004374,0.004404,0.001078,0.001072,0.001089,...,0.004978,0.004964,0.004997,0.001639,0.001629,0.001655,0.001953,0.004899,0.004885,0.004918
"Jan 22, 1981",0.001078,0.001072,0.001089,0.014026,0.004118,0.004106,0.004134,0.001121,0.001115,0.001133,...,0.004899,0.004885,0.004918,0.001682,0.001672,0.001699,0.004594,0.004777,0.004763,0.004795
"Jan 23, 1981",0.001121,0.001115,0.001133,0.011434,0.004387,0.004374,0.004404,0.001208,0.001200,0.001220,...,0.004777,0.004763,0.004795,0.001639,0.001672,0.001655,0.001324,0.004827,0.004813,0.004846
"Jan 26, 1981",0.001208,0.001200,0.001220,0.009686,0.004637,0.004624,0.004655,0.001294,0.001329,0.001307,...,0.004827,0.004813,0.004846,0.001639,0.001629,0.001655,0.003126,0.004653,0.004639,0.004670

In [106]:
#get var1(t) to the end
swapcol = list(dfm_series)
#print(swapcol)
swapcol[-6], swapcol[-1] = swapcol[-1], swapcol[-6]
dfm_series = dfm_series.loc[:,swapcol]

In [107]:
#dfm_series.index.name = 'Date'
dfm_series.to_csv('mergeddataseries.csv')
dfm_series.head()

,var1(t-25),var2(t-25),var3(t-25),var4(t-25),var5(t-25),var6(t-25),var7(t-25),var1(t-24),var2(t-24),var3(t-24),...,var5(t-1),var6(t-1),var7(t-1),var1(t),var7(t),var3(t),var4(t),var5(t),var6(t),var2(t)
Date,,,,,,,,,,,,,,,,,,,,,
"Jan 20, 1981",0.001337,0.001372,0.001350,0.062868,0.004035,0.004023,0.004050,0.001251,0.001243,0.001263,...,0.005338,0.005322,0.005358,0.001596,0.004997,0.001612,0.003857,0.004978,0.004964,0.001586
"Jan 21, 1981",0.001251,0.001243,0.001263,0.023457,0.004387,0.004374,0.004404,0.001078,0.001072,0.001089,...,0.004978,0.004964,0.004997,0.001639,0.004918,0.001655,0.001953,0.004899,0.004885,0.001629
"Jan 22, 1981",0.001078,0.001072,0.001089,0.014026,0.004118,0.004106,0.004134,0.001121,0.001115,0.001133,...,0.004899,0.004885,0.004918,0.001682,0.004795,0.001699,0.004594,0.004777,0.004763,0.001672
"Jan 23, 1981",0.001121,0.001115,0.001133,0.011434,0.004387,0.004374,0.004404,0.001208,0.001200,0.001220,...,0.004777,0.004763,0.004795,0.001639,0.004846,0.001655,0.001324,0.004827,0.004813,0.001672
"Jan 26, 1981",0.001208,0.001200,0.001220,0.009686,0.004637,0.004624,0.004655,0.001294,0.001329,0.001307,...,0.004827,0.004813,0.004846,0.001639,0.004670,0.001655,0.003126,0.004653,0.004639,0.001629

In [108]:
#step three

In [109]:
dfm_series = pd.read_csv('mergeddataseries.csv')
dfm_series = dfm_series.set_index('Date')
dfm_series.head()
#print(dfm_series)

,var1(t-25),var2(t-25),var3(t-25),var4(t-25),var5(t-25),var6(t-25),var7(t-25),var1(t-24),var2(t-24),var3(t-24),...,var5(t-1),var6(t-1),var7(t-1),var1(t),var7(t),var3(t),var4(t),var5(t),var6(t),var2(t)
Date,,,,,,,,,,,,,,,,,,,,,
"Jan 20, 1981",0.001337,0.001372,0.001350,0.062868,0.004035,0.004023,0.004050,0.001251,0.001243,0.001263,...,0.005338,0.005322,0.005358,0.001596,0.004997,0.001612,0.003857,0.004978,0.004964,0.001586
"Jan 21, 1981",0.001251,0.001243,0.001263,0.023457,0.004387,0.004374,0.004404,0.001078,0.001072,0.001089,...,0.004978,0.004964,0.004997,0.001639,0.004918,0.001655,0.001953,0.004899,0.004885,0.001629
"Jan 22, 1981",0.001078,0.001072,0.001089,0.014026,0.004118,0.004106,0.004134,0.001121,0.001115,0.001133,...,0.004899,0.004885,0.004918,0.001682,0.004795,0.001699,0.004594,0.004777,0.004763,0.001672
"Jan 23, 1981",0.001121,0.001115,0.001133,0.011434,0.004387,0.004374,0.004404,0.001208,0.001200,0.001220,...,0.004777,0.004763,0.004795,0.001639,0.004846,0.001655,0.001324,0.004827,0.004813,0.001672
"Jan 26, 1981",0.001208,0.001200,0.001220,0.009686,0.004637,0.004624,0.004655,0.001294,0.001329,0.001307,...,0.004827,0.004813,0.004846,0.001639,0.004670,0.001655,0.003126,0.004653,0.004639,0.001629

In [110]:
## create train and test split
n_features = 7
train = dfm_series.values[:9000, :]
test = dfm_series.values[9000:,:]

#split inputs and output
train_X, train_Y = train[:, :-n_features], train[:, -1]
test_X, test_Y = test[:, :-n_features], test[:, -1]

#make the train input 3 dimensional, idk why, think it's required for the lstm
train_X = train_X.reshape((train_X.shape[0], n_days, n_features))
test_X = test_X.reshape((test_X.shape[0], n_days, n_features))

print(train_X.shape, train_Y.shape, test_X.shape, test_Y.shape )

(9000, 25, 7) (9000,) (544, 25, 7) (544,)

In [111]:
#define model
def build_model():
    model = Sequential()
    model.add(LSTM(128, input_shape=(train_X.shape[1], train_X.shape[2])))
    #model.add(LSTM(128, input_shape=(train_X.shape[1], train_X.shape[2])))
    #model.add(LSTM(128))
    model.add(Dense(1))
    model.compile(loss='mse', optimizer='adam', metrics=['mae'])
    return model

In [ ]:
#kfold and fit model
k = 2
num_val_samples = len(train_X) // k
num_epochs = 64
size_batch = 64
all_scores = []

for i in range(k):
    print('processing fold #', i)
    val_data = train_X[i * num_val_samples: (i + 1 ) * num_val_samples]
    val_targets = train_Y[i * num_val_samples: (i + 1 ) * num_val_samples]
    
    partial_train_data = np.concatenate(
    [train_X[:i *num_val_samples],
     train_X[(i +1) * num_val_samples: ]],
         axis =0)
    
    partial_train_targets = np.concatenate(
    [train_Y[:i*num_val_samples],
     train_Y[(i + 1) * num_val_samples:]],
         axis = 0)
    
    model = build_model()
    model.fit(partial_train_data, partial_train_targets,
             epochs= num_epochs, batch_size = size_batch, verbose = 0)
    
    val_mse, val_mae = model.evaluate(val_data, val_targets, verbose = 0)
    all_scores.append(val_mae)
    
#show the average mae
print(sum(all_scores)/len(all_scores))

processing fold # 0

In [ ]:
#Validate with test set
Y_hat = model.predict(test_X)
Y = test_Y

test_X = test_X.reshape((test_X.shape[0], n_days*n_features))


inv_Y_hat = concatenate((Y_hat, test_X[:, (-n_features+1):]), axis=1)
inv_Y_hat = scaler.inverse_transform(inv_Y_hat)
inv_Y_hat = inv_Y_hat[:,0]

test_Y = test_Y.reshape((len(test_Y),1))
inv_Y = concatenate((test_Y, test_X[:, (-n_features+1):]), axis=1)
inv_Y = scaler.inverse_transform(inv_Y)
inv_Y = inv_Y[:,0]



Y_hat_2 = model.predict(train_X)
Y_2 = train_Y

train_X = train_X.reshape((train_X.shape[0], n_days*n_features))
inv_Y_hat_2 = concatenate((Y_hat_2, train_X[:, (-n_features+1):]), axis=1)
inv_Y_hat_2 = scaler.inverse_transform(inv_Y_hat_2)
inv_Y_hat_2 = inv_Y_hat_2[:,0]

train_Y = train_Y.reshape((len(train_Y),1))
inv_Y_2 = concatenate((train_Y, train_X[:, (-n_features+1):]), axis=1)
inv_Y_2 = scaler.inverse_transform(inv_Y_2)
inv_Y_2 = inv_Y_2[:,0]

# calculate RMSE
rmse = sqrt(mean_squared_error(inv_Y, inv_Y_hat))
print('Test RMSE: %.3f' % rmse)

# calculate RMSE2
rmse2 = sqrt(mean_squared_error(inv_Y_2, inv_Y_hat_2))
print('Train RMSE2: %.3f' % rmse2)

In [ ]:

#plot actual stock price and predicted stock price
pyplot.figure(figsize=(10,5))

pyplot.subplot(211)
pyplot.plot(inv_Y, label='actual')
pyplot.plot(inv_Y_hat, label='prediction')
pyplot.legend()

pyplot.subplot(212)
pyplot.plot(inv_Y_2, label='actual_withintraindata')
pyplot.plot(inv_Y_hat_2, label = 'prediction_withintraindata')
pyplot.legend()

pyplot.show()

In [ ]:
print(inv_Y)
print(inv_Y_hat)

In [ ]:
# Notes
# Still looking to add gridsearch for number of days, number of folds, batch size, number of epochs, 
# number of layers? number of neurons in LSTM layers.

# Want to add a plot where the model is used on another forex, to see wheter the model is just overfitted.

# Try the same procedure for a stock where also trade volume can be used (so not a forex).

# Pull the data through a sigmoid function to make it easier for the model to train.