In [79]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
%matplotlib inline

In [80]:
#Define function to add timesteps in datafram
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	"""
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""
	n_vars = 1 if type(data) is list else data.shape[1]
	df = pd.DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = pd.concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [81]:
#Add timesteps to the dataframe
dfm = pd.read_csv('mergeddata.csv', header=0, index_col=1)
values = dfm.values
n_days = 4
dfm_series = series_to_supervised(dfm, n_days, 1)
#dfm_series = dfm_series.drop(['var1(t-4)'], axis=1)
dfm_series.head()

,var1(t-4),var2(t-4),var3(t-4),var4(t-4),var5(t-4),var6(t-4),var7(t-4),var8(t-4),var9(t-4),var10(t-4),...,var13(t),var14(t),var15(t),var16(t),var17(t),var18(t),var19(t),var20(t),var21(t),var22(t)
Date,,,,,,,,,,,,,,,,,,,,,
1993-05-18,0.0,1.2138,1.2171,1.2105,1.2152,1181.0,0.7896,0.7928,0.7880,0.7924,...,1.5380,1.5237,1.5365,2711,140.472839,141.076370,140.064438,140.087128,140.087128,0.0
1993-05-19,1.0,1.2148,1.2158,1.2084,1.2099,991.0,0.7922,0.7967,0.7910,0.7943,...,1.5482,1.5328,1.5432,2261,140.114349,140.196030,138.312836,138.399063,138.399063,0.0
1993-05-27,7.0,1.2051,1.2111,1.1993,1.2025,2101.0,0.7776,0.7803,0.7754,0.7794,...,1.5650,1.5425,1.5620,2831,141.130829,141.788803,141.099060,141.380417,141.380417,0.0
1993-05-28,8.0,1.2031,1.2031,1.1907,1.1951,1681.0,0.7800,0.7805,0.7762,0.7768,...,1.5680,1.5535,1.5607,2871,141.380417,141.394012,139.542587,139.891998,139.891998,0.0
1993-06-07,14.0,1.2321,1.2363,1.2259,1.2359,1701.0,0.7881,0.7955,0.7859,0.7948,...,1.5268,1.5060,1.5268,2111,139.279388,140.704269,139.202255,140.472839,140.472839,0.0

In [82]:
#get var1(t) to the end
swapcol = list(dfm_series)
print(swapcol)
swapcol[-21], swapcol[-1] = swapcol[-1], swapcol[-21]
dfm_series = dfm_series.loc[:,swapcol]

['var1(t-4)', 'var2(t-4)', 'var3(t-4)', 'var4(t-4)', 'var5(t-4)', 'var6(t-4)', 'var7(t-4)', 'var8(t-4)', 'var9(t-4)', 'var10(t-4)', 'var11(t-4)', 'var12(t-4)', 'var13(t-4)', 'var14(t-4)', 'var15(t-4)', 'var16(t-4)', 'var17(t-4)', 'var18(t-4)', 'var19(t-4)', 'var20(t-4)', 'var21(t-4)', 'var22(t-4)', 'var1(t-3)', 'var2(t-3)', 'var3(t-3)', 'var4(t-3)', 'var5(t-3)', 'var6(t-3)', 'var7(t-3)', 'var8(t-3)', 'var9(t-3)', 'var10(t-3)', 'var11(t-3)', 'var12(t-3)', 'var13(t-3)', 'var14(t-3)', 'var15(t-3)', 'var16(t-3)', 'var17(t-3)', 'var18(t-3)', 'var19(t-3)', 'var20(t-3)', 'var21(t-3)', 'var22(t-3)', 'var1(t-2)', 'var2(t-2)', 'var3(t-2)', 'var4(t-2)', 'var5(t-2)', 'var6(t-2)', 'var7(t-2)', 'var8(t-2)', 'var9(t-2)', 'var10(t-2)', 'var11(t-2)', 'var12(t-2)', 'var13(t-2)', 'var14(t-2)', 'var15(t-2)', 'var16(t-2)', 'var17(t-2)', 'var18(t-2)', 'var19(t-2)', 'var20(t-2)', 'var21(t-2)', 'var22(t-2)', 'var1(t-1)', 'var2(t-1)', 'var3(t-1)', 'var4(t-1)', 'var5(t-1)', 'var6(t-1)', 'var7(t-1)', 'var8(t-1)', 'var9(t-1)', 'var10(t-1)', 'var11(t-1)', 'var12(t-1)', 'var13(t-1)', 'var14(t-1)', 'var15(t-1)', 'var16(t-1)', 'var17(t-1)', 'var18(t-1)', 'var19(t-1)', 'var20(t-1)', 'var21(t-1)', 'var22(t-1)', 'var1(t)', 'var2(t)', 'var3(t)', 'var4(t)', 'var5(t)', 'var6(t)', 'var7(t)', 'var8(t)', 'var9(t)', 'var10(t)', 'var11(t)', 'var12(t)', 'var13(t)', 'var14(t)', 'var15(t)', 'var16(t)', 'var17(t)', 'var18(t)', 'var19(t)', 'var20(t)', 'var21(t)', 'var22(t)']

In [83]:
dfm_series.index.name = 'Date'
dfm_series.to_csv('mergeddataseries.csv')
dfm_series.head(20)

,var1(t-4),var2(t-4),var3(t-4),var4(t-4),var5(t-4),var6(t-4),var7(t-4),var8(t-4),var9(t-4),var10(t-4),...,var13(t),var14(t),var15(t),var16(t),var17(t),var18(t),var19(t),var20(t),var21(t),var2(t)
Date,,,,,,,,,,,,,,,,,,,,,
1993-05-18,0.0,1.2138,1.2171,1.2105,1.2152,1181.0,0.7896,0.7928,0.7880,0.7924,...,1.5380,1.5237,1.5365,2711,140.472839,141.076370,140.064438,140.087128,140.087128,1.2133
1993-05-19,1.0,1.2148,1.2158,1.2084,1.2099,991.0,0.7922,0.7967,0.7910,0.7943,...,1.5482,1.5328,1.5432,2261,140.114349,140.196030,138.312836,138.399063,138.399063,1.2043
1993-05-27,7.0,1.2051,1.2111,1.1993,1.2025,2101.0,0.7776,0.7803,0.7754,0.7794,...,1.5650,1.5425,1.5620,2831,141.130829,141.788803,141.099060,141.380417,141.380417,1.2010
1993-05-28,8.0,1.2031,1.2031,1.1907,1.1951,1681.0,0.7800,0.7805,0.7762,0.7768,...,1.5680,1.5535,1.5607,2871,141.380417,141.394012,139.542587,139.891998,139.891998,1.2205
1993-06-07,14.0,1.2321,1.2363,1.2259,1.2359,1701.0,0.7881,0.7955,0.7859,0.7948,...,1.5268,1.5060,1.5268,2111,139.279388,140.704269,139.202255,140.472839,140.472839,1.2050
1993-06-08,15.0,1.2358,1.2375,1.2222,1.2228,1761.0,0.7945,0.7967,0.7912,0.7938,...,1.5265,1.5135,1.5205,2121,140.472839,141.257874,140.463776,140.622589,140.622589,1.2083
1993-06-09,16.0,1.2229,1.2259,1.2195,1.2252,1051.0,0.7936,0.7951,0.7903,0.7908,...,1.5270,1.5069,1.5152,3591,140.622589,142.324265,140.559067,142.065613,142.065613,1.2028
1993-06-10,17.0,1.2252,1.2273,1.2010,1.2013,2871.0,0.7909,0.7978,0.7904,0.7969,...,1.5325,1.5070,1.5305,3421,142.092834,142.564774,142.015701,142.356033,142.356033,1.1951
1993-06-11,18.0,1.2050,1.2085,1.2017,1.2085,1011.0,0.7981,0.7981,0.7912,0.7929,...,1.5405,1.5185,1.5215,3621,142.346954,142.346954,141.575531,142.065613,142.065613,1.2009
1993-06-14,19.0,1.2083,1.2109,1.2025,1.2032,1171.0,0.7925,0.7952,0.7906,0.7914,...,1.5330,1.5190,1.5285,1851,142.083771,143.808136,142.083771,143.508636,143.508636,1.2045
1993-06-15,20.0,1.2028,1.2043,1.1918,1.1952,1741.0,0.7912,0.7925,0.7866,0.7892,...,1.5355,1.5140,1.5165,3201,143.513184,143.926117,143.068481,143.340744,143.340744,1.2006
1993-06-16,21.0,1.1951,1.2023,1.1924,1.2008,1411.0,0.7894,0.7933,0.7843,0.7851,...,1.5200,1.4980,1.5062,3471,143.340744,144.021423,143.340744,143.930664,143.930664,1.1877
1993-06-17,22.0,1.2009,1.2077,1.1975,1.2028,1851.0,0.7853,0.7915,0.7840,0.7898,...,1.5187,1.4985,1.5140,3191,143.966965,144.447968,143.077545,143.218216,143.218216,1.1796
1993-06-18,23.0,1.2045,1.2072,1.1992,1.2013,1281.0,0.7929,0.7929,0.7848,0.7865,...,1.5170,1.4920,1.4975,3331,143.245453,143.594864,142.850662,143.358902,143.358902,1.1782
1993-06-21,24.0,1.2006,1.2062,1.1861,1.1880,2761.0,0.7864,0.7874,0.7825,0.7834,...,1.4980,1.4799,1.4885,3071,143.358902,144.820084,143.358902,144.815536,144.815536,1.1611
1993-06-22,25.0,1.1877,1.1905,1.1771,1.1801,1921.0,0.7832,0.7864,0.7824,0.7836,...,1.4905,1.4740,1.4778,2251,144.833694,145.918228,144.833694,145.863770,145.863770,1.1591
1993-06-23,26.0,1.1796,1.1837,1.1751,1.1786,1621.0,0.7832,0.7874,0.7755,0.7782,...,1.4810,1.4670,1.4735,2351,145.881927,146.939240,145.813858,146.031677,146.031677,1.1531
1993-06-24,27.0,1.1782,1.1818,1.1604,1.1611,2571.0,0.7778,0.7810,0.7757,0.7774,...,1.4761,1.4637,1.4690,2181,146.031677,146.426453,145.183105,145.845627,145.845627,1.1558
1993-06-25,28.0,1.1611,1.1633,1.1540,1.1591,1661.0,0.7771,0.7808,0.7732,0.7788,...,1.4835,1.4670,1.4762,2511,145.845627,146.258575,145.527985,146.108826,146.108826,1.1441
1993-06-28,29.0,1.1591,1.1616,1.1503,1.1529,1641.0,0.7788,0.7852,0.7775,0.7805,...,1.4975,1.4750,1.4959,2761,146.181427,147.647141,146.181427,147.361267,147.361267,1.1454

In [84]:
#dfm_series.index.values
#dfm_series.index = dfm_series.index.astype(float)